<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <span>
                    <a ui-sref="admin">主页</a>
                    <a ui-sref="admin.users">用户管理与订餐</a>
                    <a ui-sref="admin.menus">菜单和菜品管理</a>
                    <a ui-sref="admin.orders">订单历史和管理</a>
                    <a ui-sref="admin.deposits">充值历史和管理</a>
                </span>
                <p class="pull-right" style="padding:10px;">© Copyright 2016 GarminTech Inc.</p>
            </div>
        </div>
    </div>
</footer>