<header class="jumbotron">

    <!-- Main component for a primary marketing message or call to action -->

    <div class="container">
        <div class="row row-header">
            <div class="col-xs-12 col-sm-8">
                <h1>宁都中学订餐管理系统</h1>
                <p style="padding:30px;"></p>
                <p>宁都中学食堂致力于为学生、教职工提供更好、更健康、更实惠的饭餐</p>
            </div>
            <div class="col-xs-12 col-sm-2">
                <p style="padding:20px;"></p>
                <div class="col-xs-12">
                    <a class="btn btn-primary btn-block" ui-sref="admin.users">用户管理与订餐</a>
                </div>
                <p style="padding:20px;"></p>
                <div class="col-xs-12">
                    <a class="btn btn-danger btn-block" ui-sref="admin.menus">菜单与菜品管理</a>
                </div>
                <p style="padding:20px;"></p>
                <div class="col-xs-12">
                    <a class="btn btn-default btn-block" ui-sref="admin.orders">订单历史和管理</a>
                </div>
                <p style="padding:20px;"></p>
                <div class="col-xs-12">
                    <a class="btn btn-info btn-block" ui-sref="admin.deposits">充值历史和管理</a>
                </div>
            </div>
        </div>
    </div>
</header>